@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 transition-colors duration-300;
    }
    
    [data-theme='night'] body {
        @apply bg-slate-950 text-white;
    }
    
    * {
        outline: none !important;
        -webkit-tap-highlight-color: transparent;
    }
    
    *:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}
